@CHARSET "UTF-8";
html {
  	height: 100%;
}
/********************************************************标题栏*********************************************************************/
.navs{
	width: 100%;
	height: 40px;
	background: rgba(51,55,59,0.8);
}
.nav_left{
	float: left;
	margin-left: 40px;
	text-align: center;
	width: 200px;
	line-height: 40px;
	font-size: 26px;
	font-weight: bold;
	transition: 2s;
}
.nav_left a{
	text-decoration: none;
	color: white;
}
.nav_left:hover{
	cursor: pointer;
	/*光标点击 宽度向右移动50*/
	transform: translateX(50px);
}
#loginform label { display: block; font-size: 1.1em; font-weight: bold; color: #7c8291; margin-bottom: 3px; }

.bTabs{
	margin-top: 10px;
	height:900px;
}
.bTabs button.navTabsCloseBtn {
	font-size: 23px !important;
	cursor: pointer;
	
	margin-left: 10px;
	font-style: normal;
	line-height: 20px;
	font-family: inherit;
	font-weight: normal;
	
	position: relative;
    top: -2px;
    color: #AAAAAA;
    
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    
	float: right;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
}
.bTabs button.navTabsCloseBtn:hover{
	color: red !important;
	font-weight: 700;
}
.bTabs .nav-tabs{
	margin-bottom: 0px;
	padding-left: 20px;
}
.bTabs .nav-tabs>li {
	margin-right: 5px;
}
.bTabs .nav-tabs>li>a {
	padding-top: 5px;
	padding-bottom: 5px;
	color: #666666;
}
.bTabs .nav-tabs li.active a {
	color: #227AD7;
	font-weight: bold;
}
.bTabs .nav-tabs li.active a button.navTabsCloseBtn{
	color: #666666;
}
.bTabs div.tab-content {
	height:900px;
	overflow-y: hidden;
}
.bTabs div.tab-content div.tab-pane {
	height:900px;
}